/* .formSectionHeader {
    /* background: rgb(233, 244, 255); 
} */

.customFormInput {
  padding: 1rem auto !important;
  border: 0 !important;
  border-radius: 0.3rem !important;
  height: 3rem;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  transition: all 0.2s ease-in-out;
}

.customLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.formIcon {
    color: gray;
}
