.infoPage {
    position: relative;
    background: url(/images/bgImage.webp);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.1px;
}

.infoPage::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.1;
  z-index: -1;
}

@media (max-width: 800px) {
  .infoPage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.1px;
  }
}
