.navbar {
  background: url(/images/bgImage.webp);
  background-color: #fff;
  background-position: right top;
}

.customStep::before,
.customStep::after {
  background-color: var(--primary-brand-color);
  color: white;
}
